<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xsi:noNamespaceSchemaLocation="classpath:xsd/dubbo.xsd"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd   
    http://www.springframework.org/schema/tx   
    http://www.springframework.org/schema/tx/spring-tx-3.1.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-3.1.xsd  
    http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 订单-购物车 -->
	 <dubbo:reference id="shoppingCarService" interface="com.xjh.so.service.ShoppingCarService" />
	 <dubbo:reference id="packageSkuService" interface="com.xjh.ma.service.PackageSkuService" />
	 <dubbo:reference id="packageService" interface="com.xjh.ma.service.PackageService" />
	 
	 <dubbo:reference id="vtuService" interface="com.xjh.so.service.VtuService" />
	 <!--<dubbo:reference id="soCutService" interface="com.xjh.so.service.SoCutService" />-->
	 <dubbo:reference id="trackService" interface="com.xjh.so.service.TrackService" />
	 <dubbo:reference id="rmaAmtService" interface="com.xjh.so.service.RmaAmtService" />
	 <dubbo:reference id="rmaAmtItemService" interface="com.xjh.so.service.RmaAmtItemService" />
	<!-- 轻松购服务 -->
	<dubbo:reference id="easyBuyService" interface="com.xjh.so.service.EasyBuyService" />	 
	<!-- 票卷查询和使用接口-->
	 <dubbo:reference id="vtuUserService" interface="com.xjh.so.service.VtuUserService" />
	 <dubbo:reference interface="com.xjh.so.service.VtuItemService" id="vtuItemService" />

	<dubbo:reference interface="com.xjh.so.service.SoCouponEventDetailService" id="soCouponEventDetailService" />
	<dubbo:reference interface="com.xjh.so.service.SoCouponEventService" id="soCouponEventService" />
	<dubbo:reference interface="com.xjh.so.service.EvaluateService" id="soEvaluateService"/>
</beans>